* {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

#app {
  max-width: 1280px;
  font-weight: normal;
}

.app-body {
  padding: 1em;
}

/* ===================================================================== */
.van-field__label--top.form-label label {
  margin-bottom: 1em;
  font-weight: bold;
}

.van-cell__title.van-field__label.fl {
  display: flex;
  align-items: center;
  /* white-space: nowrap; */
}

.van-checkbox__label{
  font-size: 1.2em;
}